{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-double p-4">
  <section>
    <div class="right margin">
      <img src="/images/me.jpg" alt="me" />
      <div class="social-links">
        <a href="https://www.linkedin.com/in/radityanarendra/" class="social-link">
          <img src="/images/linkedinlogo.jpg" alt="LinkedIn" class="social-icon" />
        </a>
        <a href="https://github.com/radityanaren" class="social-link">
          <img src="/images/githublogo.png" alt="GitHub" class="social-icon" />
        </a>
        <a href="https://wa.me/+628170111208" class="social-link">
          <img src="/images/whatsapplogo.png" alt="WhatsApp" class="social-icon" />
        </a>
      </div>
    </div>
    <h1 class="text-xl font-bold">Raditya Narendra</h1>
    <p class="my-4">
      Hello my name is Naren
    </p>
  </section>

  <section>
    <p>
      Welcome to my humble personal website where I share everything from my achievements, projects, my arts, or even read me rant on my blog about something that you probably doesn't even care.
    </p>
  </section>
  <section>
    <p class="my-4">
      So sit tight and relax, grab some popcorns and look at this cat exercising 
    </p>
    <img src="/images/pushup.gif" alt="pushupcat" width="100" height="50">
     <p>
      you can also contact me through Whatsapp, or check my Linkedin and GitHub if you want to know more about me professionally. <img src="/images/emojiglasses.png" alt="emoji" width="100" height="100">

  </section>
</main>

{{ end }}
