{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  {{if not .IsHome }}
  <h1 class="text-xl font-bold mb-4">{{ .Title | markdownify }}</h1>
  {{ end }}
  {{ .Content }}
  <div class="posts-list">
    {{ $pages := .Pages }} {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }} 
    {{ range (sort (where $pages "Section" "in" (slice "blog" "projects" "snapshots")) ".Date" "desc") }}
      {{ if eq .Section "blog" }}
        <a href="{{ .RelPermalink }}" class="post-card">
          <div class="post-thumbnail">
            {{ if .Params.thumbnail }}
              <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" class="thumbnail-img">
            {{ else }}
              <div class="no-image"></div>
            {{ end }}
          </div>
          <div class="post-info">
            <h2 class="post-title">{{ .Title | markdownify }}</h2>
            <p class="post-date">{{ .Date.Format "2 January 2006" }}</p>
          </div>
        </a>
      {{ else if eq .Section "projects" }}
        {{ if .Params.project_url }}
          <a href="{{ .Params.project_url }}" target="_blank" class="post-card project-card">
            <div class="post-thumbnail project-thumbnail">
              {{ if .Params.thumbnail }}
                <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" class="project-thumbnail-img">
              {{ else }}
                <div class="no-image"></div>
              {{ end }}
            </div>
            <div class="post-info project-info">
              <h2 class="post-title project-title">{{ .Title | markdownify }}</h2>
              {{ if .Params.description }}
                <p class="post-date project-description">{{ .Params.description }}</p>
              {{ end }}
            </div>
          </a>
        {{ else }}
          <a href="{{ .RelPermalink }}" class="post-card project-card">
            <div class="post-thumbnail project-thumbnail">
              {{ if .Params.thumbnail }}
                <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" class="project-thumbnail-img">
              {{ else }}
                <div class="no-image"></div>
              {{ end }}
            </div>
            <div class="post-info project-info">
              <h2 class="post-title project-title">{{ .Title | markdownify }}</h2>
              {{ if .Params.description }}
                <p class="post-date project-description">{{ .Params.description }}</p>
              {{ end }}
            </div>
          </a>
        {{ end }}
      {{ else if eq .Section "snapshots" }}
        <a href="{{ .Params.instagram_url }}" target="_blank" class="post-card snapshot-card">
          <div class="post-thumbnail instagram-embed-thumb snapshot-image-only" data-instagram-url="{{ .Params.instagram_url }}">
            {{ if .Params.thumbnail }}
              <img class="insta-image" src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />
            {{ else }}
              <img class="insta-image" alt="{{ .Title }}" />
            {{ end }}
          </div>
        </a>
      {{ end }}
    {{ end }}
  </div>
</main>

{{ end }}